main#page-container {
  display: grid;
  margin: 0 auto;
  max-width: 980px;
  justify-content: center;
  grid-template-columns: 30% 70%;
}

@media screen and (max-width: 830px) {
  main#page-container {
    grid-template-columns: none;
  }
}
